NEXT_PUBLIC_SUPABASE_URL=https://iikbcsejdchykphwupfz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_7IhXGTIqx5uW59ceRuA6hw_7PZ4koQC
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlpa2Jjc2VqZGNoeWtwaHd1cGZ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2NTIxODQsImV4cCI6MjEwNTIyODE4NH0.xFXdMSFqGagMZcenPufHTJlQ_NSV3MYNuvsXzkWOTHs
