AUTH_URL=https://pulsik-feira.vercel.app
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
SUPABASE_URL=https://iikbcsejdchykphwupfz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
SMTP_HOST=mail.pulsik.com.br
SMTP_PORT=993
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
