AUTH_URL=https://pulsik-feira.vercel.app
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
SUPABASE_URL=https://iikbcsejdchykphwupfz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
SMTP_HOST=mail.pulsik.com.br
SMTP_PORT=465
SMTP_USER=gabson.roger@pulsik.com.br
SMTP_PASSWORD=ZvKsPPjgu.o2.S+4
SMTP_FROM=Pulsik <gabson.roger@pulsik.com.br>